{% extends widget.get_base_template %}

{% block content %}
{% for item in items %}
<div id="{{ item.slug }}" class="absolute-anchor"></div>
<div class="{% cycle 'bg-one' 'bg-two' 'bg-three' 'bg-four' 'bg-five' 'bg-six' 'bg-seven' 'bg-eight' 'bg-nine' 'bg-ten' %}">
  <div class="container{% if item.layout == 'fluid' %}-fluid{% endif %} {{ widget.page_region }}-{{ widget.parent.slug }} section-{{ forloop.counter }}">
    {% include "widget/contextnavigation/_item.html" with item=item  %}
  </div>
</div>
<script type="text/javascript">
{% if forloop.counter > 1 %}
function centerHTMLtext{{ forloop.counter }}() {
    setTimeout(function(){
        var a = $('.section-{{ forloop.counter }}').height();
        {% if forloop.counter|divisibleby:2 and forloop.counter <= 7 %}
        var b = $('.section-{{ forloop.counter }}').children()[0];
        b = b.childNodes[1].scrollHeight
        var c = a - b;
        var total = c/2 - 5;
        var x = $('.section-{{ forloop.counter }}').children()[0];
        x.childNodes[1].style.marginTop = total + "px";
        {% else %}
        var b = $('.section-{{ forloop.counter }}').children()[0];
        b = b.childNodes[3].scrollHeight
        var c = a - b;
        var total = c/2 - 5;
        var x = $('.section-{{ forloop.counter }}').children()[0];
        x.childNodes[3].style.marginTop = total + "px";
        {% endif %}
    }, 1);
}

$(function(){
    centerHTMLtext{{ forloop.counter }}();
});
$(window).resize(function()  {
    centerHTMLtext{{ forloop.counter }}();
});

{% endif %}
</script>
{% endfor %}
<script type="text/javascript">
function kontaktGreenArrow() {
    setTimeout(function(){
        var z = $('.bg-nine').width();
        var o = 1920 - z;
        var x = (o*100)/1920;
        var y = (441*x)/100;
        var height = 441-y;
        $('.bg-nine').css("height", height)

        var a = $('.bg-nine').height();
        var b = $('#preview-10').children()[0].scrollHeight;
        var c = a - b;
        var total = c/2 - 5;
        $('#preview-10').children()[0].style.marginTop = total + "px";
    }, 1);
}
$(function(){
    kontaktGreenArrow();
});
$(window).resize(function()  {
    kontaktGreenArrow();
});
</script>
{% endblock %}
