{% extends widget.get_base_template %}

{% block content %}
{% for item in items %}
<div id="{{ item.slug }}" class="absolute-anchor"></div>
<div class="{% cycle 'bg-one' 'bg-two' 'bg-three' 'bg-four' 'bg-five' 'bg-six' 'bg-seven' 'bg-eight' 'bg-nine' 'bg-ten' %}">
  <div class="container{% if item.layout == 'fluid' %}-fluid{% endif %} {{ widget.page_region }}-{{ widget.parent.slug }} section-{{ forloop.counter }}">
    {% include "widget/contextnavigation/_item.html" with item=item  %}
  </div>
</div>
<script type="text/javascript">
function centerHTMLtext{{ forloop.counter }}() {
    setTimeout(function(){
        var a = $('.section-{{ forloop.counter }}').height();
        {% if forloop.counter|divisibleby:2 and forloop.counter <= 7%}
        var b = $('#preview-{{ forloop.counter }}').children()[0].scrollHeight;
        var c = a - b;
        var total = c/2 - 5;
        $('#preview-{{ forloop.counter }}').children()[0].style.marginTop = total + "px";
        {% else %}
        var b = $('#preview-{{ forloop.counter }}').children()[1].scrollHeight;
        var c = a - b;
        var total = c/2 - 5;
        $('#preview-{{ forloop.counter }}').children()[1].style.marginTop = total + "px";
        {% endif %}
    }, 1);
}
$(function(){
    centerHTMLtext{{ forloop.counter }}();
});
$(window).resize(function()  {
    centerHTMLtext{{ forloop.counter }}();
});
</script>
{% endfor %}
{% endblock %}
