{% extends widget.get_base_template %}
{% load feincms_page_tags %}

{% block content %}
{% feincms_nav root level=level depth=1 as toplevel %}
<div class="col-xs-12">
  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="collapse navbar-collapse" id="top-nav">
  <ul class="nav navbar-nav{% if widget.align == 'right' %} navbar-right{% endif %}">
  {% if depth == 1 %}
  {% for page in toplevel %}
    <li class="detectLi{{ forloop.counter }}{% if page|is_equal_or_parent_of:current %} active{% endif %}">
      <a class="page-scroll" onfocus="displayHoverBorder{{ forloop.counter }}();" onmouseover="displayHoverBorder{{ forloop.counter }}();" onmouseout="hideHoverBorder{{ forloop.counter }}();" href="{% if request.path == '/' or request.path == '/m/' %}#{{ page.slug }}{% else %}/#{{ page.slug }}{% endif %}">{{ page.title }}</a>
      <div class="border-light border-{{ forloop.counter }} {% if page|is_equal_or_parent_of:current %}border-green{% endif %}"></div>
    </li>
    <script type="text/javascript">
      function displayHoverBorder{{ forloop.counter }}() {
        $('.border-{{ forloop.counter }}').addClass("border-green");
      }
      function hideHoverBorder{{ forloop.counter }}() {
        if ($('.detectLi{{ forloop.counter }}').hasClass("active")) {
        } else {
          $('.border-{{ forloop.counter }}').removeClass("border-green");
        }
      }

      $(function() {
          var oTop = $('.nav').offset().top - window.innerHeight;
          $(window).scroll(function(){

              var pTop = $('body').scrollTop();
              console.log( pTop + ' - ' + oTop );   //just for your debugging
              if( pTop > oTop ){
                  start_count_on_scroll{{ forloop.counter }}();
              }
          });
      });

      function start_count_on_scroll{{ forloop.counter }}(){
        if ($('.detectLi{{ forloop.counter }}').hasClass("active")) {
          displayHoverBorder{{ forloop.counter }}();
        } else {
          hideHoverBorder{{ forloop.counter }}();
        } 
      }
    </script>
  {% endfor %}
  {% else %}
  {% for page in toplevel %}
    {% feincms_nav page level=level2 depth=1 as sublevel %}
    {% if sublevel|length == 0 %}
    <li class="{% if page|is_equal_or_parent_of:current %}active{% endif %}">
      <a class="page-scroll" href="{% if request.path == '/' or request.path == '/m/' %}#{{ page.slug }}{% else %}{{ page.get_navigation_url }}{% endif %}">{{ page.title }}</a>
    </li>
    {% else %}
    <li class="dropdown {% if page|is_equal_or_parent_of:current %}active{% endif %}">
      <a class="dropdown-toggle" href="{% if request.path == '/' or request.path == '/m/' %}#{{ page.slug }}{% else %}{{ page.get_navigation_url }}{% endif %}">{{ page.title }} <span class="caret"></span></a>
      <ul class="dropdown-menu">
      {% for subpage in sublevel %}
        <li class="{% if subpage|is_equal_or_parent_of:current %}active{% endif %}">
          <a href="{{ subpage.get_navigation_url }}">{{ subpage.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </li>
    {% endif %}
  {% endfor %}
  {% endif %}
  </ul>
</div>

<script type="text/javascript">
// jQuery for page scrolling feature - requires jQuery Easing plugin
$('a.page-scroll').bind('click', function(event) {
    var $anchor = $(this);
    $('html, body').stop().animate({
        scrollTop: ($($anchor.attr('href').replace("/", "")).offset().top - 20)
    }, 1500, 'easeInOutExpo');
    event.preventDefault();
});

</script>
{% endblock %}
